@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 206 86% 94%;
    --foreground: 215 28% 17%;
    --card: 206 86% 98%;
    --card-foreground: 215 28% 17%;
    --popover: 206 86% 98%;
    --popover-foreground: 215 28% 17%;
    --primary: 207 82% 68%;
    --primary-foreground: 215 28% 10%;
    --secondary: 207 80% 90%;
    --secondary-foreground: 215 28% 10%;
    --muted: 207 80% 90%;
    --muted-foreground: 215 28% 45%;
    --accent: 261 44% 79%;
    --accent-foreground: 261 28% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 207 82% 88%;
    --input: 207 82% 88%;
    --ring: 207 82% 68%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 215 28% 17%;
    --foreground: 206 86% 94%;
    --card: 215 28% 22%;
    --card-foreground: 206 86% 94%;
    --popover: 215 28% 17%;
    --popover-foreground: 206 86% 94%;
    --primary: 207 90% 70%;
    --primary-foreground: 215 28% 10%;
    --secondary: 215 28% 25%;
    --secondary-foreground: 206 86% 96%;
    --muted: 215 28% 25%;
    --muted-foreground: 206 86% 80%;
    --accent: 261 50% 85%;
    --accent-foreground: 261 28% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 215 28% 25%;
    --input: 215 28% 25%;
    --ring: 207 90% 70%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
